.box1 {
	width: 300px;
	height: 300px;
	background-color: red;
}

.box2 {
	width: 200px;
	height: 200px;
	background-color: blue;
}
.box3 {
	width: 100px;
	height: 100px;
	background-color: green;
}

.box4 {
	width: 300px;
	height: 300px;
	background-color: red;
	padding: 5px 30px;
	margin: 10px 20px;
	border: 3px dotted yellow ;
}

.box5 {
	width: 200px;
	height: 200px;
	background-color: blue;
}
.box6 {
	width: 100px;
	height: 100px;
	background-color: green;
}

/*git commit -m "[Finish]1-3"*/