*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.haru {
	height: 200px;
	background-image: url(img/box1.jpg);
	background-size: cover;
	background-position: center;
}

.natsu {
	height: 200px;
	background-image: url(img/box2.jpg);
	background-size: cover;
	background-position: center;
}

.aki {
	height: 200px;
	background-image: url(img/box3.jpg);
	background-size: cover;
	background-position: center;
}

.fuyu {
	height: 200px;
	background-image: url(img/box4.jpg);
	background-size: cover;
	background-position: center;
}
